a {
    word-break: break-all;
}

#content{
    min-height: 60vh;
}

.colHeight{
    min-height: inherit;
}

.notRead {
    color:green;
    font-weight:700;
}

.margin {
    margin:5px 25px 0 0;
}

.hide {
    display:none;
}
